*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
     display: flex;
     flex-direction: column;
}

.headmain{
          width:100%;
          height: 25vh;
          display: flex;
          flex-direction: row;
         }

.logo{
      background-color: #FFA07A;
      width:40%;
}

header{
       background-color: #F08080;
        width:60%;
}

nav{
    background-color: #CD5C5C;
    height:25vh;
    width:100%;
}

.form{
      width:100%;
      height: 25vh;
      display: flex;
      flex-direction: row;

    }

article{
        background-color: #808000;
        width:50%;
       }

aside{
      background-color: #00FF00;
      width:50%;
}

.footer{
        width:100%;
        height: 25vh;
        display: flex;
        flex-direction: row;
      }

.amit{
      background-color: #008080;
      width:30%;
     }

.kumar{
       background-color: #0000FF;
       width:40%;
}

.meet{
      background-color: #FF00FF;
      width:30%;
}
.logo, header, nav, article, aside,  .amit, .kumar, .meet{
  border: .5vw solid grey;
}
