

*{
  margin: 0;
  padding: 0;
  }
  .header{
        background-color: #C0C0C0;
        }

ul li{
      width: 100px;
      padding-top: 10px;
      height:30px;
      display: inline-block;
    }

li a{
    text-decoration: none;
}

.real{
      width: 1310px;
      margin-left: -20px;
      margin-top: 10px;
    }

.sq{width:100px;
    height:100px;
    border:1px solid gray;
    margin-left: 100px;
  }

.article{
         width:40%;
         font-size: 20px;
         margin-top: 20px;
         margin-left: 20px;
       }

.sidebar1{
          margin-left: 600px;
         }

.sidebar2{
          margin-top: 100px;
          margin-left: 750px;
        }

.sidebar3{
          margin-top: 80px;
          margin-left: 900px;
                }
